@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --primary-color: hsl(185, 75%, 39%);
  --secondary-color: #333;
  --bg-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
  overflow: hidden;
}

h1 {
  font-size: 1rem;
}

body {
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--bg-color);
}

.top,
.bottom {
  position: absolute;
}

.top {
  bottom: 50%;
  right: 50%;
}

.bottom {
  top: 50%;
  left: 50%;
}

.container {
  background-color: var(--bg-color);
  min-width: 20rem;
  min-height: 22rem;
  border-radius: 10px;
  position: relative;
  box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
}

.profile {
  width: 90px;
  height: auto;
  border-radius: 50px;
  position: absolute;
  top: 80px;
  left: 120px;
  border: 5px solid var(--bg-color);
}

.profile--header {
  background-image: url("./images/bg-pattern-card.svg");
  width: 20rem;
  height: 8rem;
  border-radius: 10px 10px 0 0;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px 0 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.user--details {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.user--loc {
  margin-top: 15px;
  font-size: 12px;
}

.user--engage {
  display: flex;
  justify-content: space-evenly;
  margin-top: -10px;
}

.user--analytics {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.user--analytics > h4 {
  font-weight: 600;
}

.user--analytics > p {
  font-size: 10px;
  font-weight: 300;
  margin-top: 5px;
  letter-spacing: 1px;
}

.attribution {
  position: absolute;
  bottom: 1rem;
  width: 60vh;
  text-align: center;
  margin: 0 auto;
  color: var(--bg-color);
}

@media (max-height: 620px), (max-width: 420px) {
  .attribution {
    display: none;
  }
}
